@model Device

<div class="col-lg-4">
    <img src="@Model.ImageUrl" alt="@Model.Name" />
    <h4>@Model.Name</h4>
    <p>@Model.ShortDesc</p>
    <p>Price: $@Model.Price</p>
    <p><a class="btn btn-warning" href="#">More</a></p>
</div>
