@model Order

<div class="row">
     <h1>Making order</h1>
     <form asp-action="Checkout" method="post">
         <div class="col-md-7">
             <label class="col-md-5" asp-for="FirstName"></label>
             <div class="col-md-5">
                 <input asp-for="FirstName" class="form-control" />
                 <span asp-validation-for="FirstName" class="text-danger"></span>
             </div>
         </div>
         <div class="col-md-7">
             <label asp-for="LastName"></label>
             <div class="col-md-5">
                 <input asp-for="LastName" class="form-control" />
                 <span asp-validation-for="LastName" class="text-danger"></span>
             </div>
         </div>
         <div class="col-md-7">
             <label asp-for="Adress"></label>
             <div class="col-md-5">
                 <input asp-for="Adress" class="form-control" />
                 <span asp-validation-for="Adress" class="text-danger"></span>
             </div>
         </div>
         <div class="col-md-7">
             <label asp-for="Phone"></label>
             <div class="col-md-5">
                 <input asp-for="Phone" class="form-control" />
                 <span asp-validation-for="Phone" class="text-danger"></span>
             </div>
         </div>
         <div class="col-md-7">
             <label asp-for="Email"></label>
             <div class="col-md-5">
                 <input asp-for="Email" class="form-control" />
                 <span asp-validation-for="Email" class="text-danger"></span>
             </div>
         </div>
         <br />
         <input class="btn btn-success" type="submit" value="Submit"/>
     </form>
</div>
